html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Pontano Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.hide-init {
  display: none;
}

.init {
  position: absolute;
  width: 100%;
  margin: 0 auto 0 auto;
  padding-top: 4vh;
  opacity: 1;
  transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  z-index: 20000;
  text-align: center;
  background-color: #fff;
}

.video {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: -1;
  opacity: 0.3;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}

.init #heading {
  margin: 4vh 0 1vw 0;
  text-align: center;
  font-variant: small-caps;
  font-size: 2.8rem;
  font-family: "Nunito", sans-serif;
}

.init #subheading-maj {
  font-family: "Nunito", sans-serif;
  font-size: 3rem;
}

.init #subheading-min {
  font-family: "Nunito" m sans-serif;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.2);
}

.init .input-field {
  margin: 2vh 0 0 0;
}

.init input {
  line-height: 1.5em;
  border-width: thin;
  border-style: none;
  border-bottom-style: outset;
  outline: 0;
  font-family: "Nunito", sans-serif;
  width: auto;
  text-align: left;
}

.init button {
  font-size: 1em;
  position: relative;
  bottom: 0;
  font-family: "Nunito", sans-serif;
  width: auto;
  outline: 0;
}

#slideshow .slide {
  position: absolute;
  left: 15%;
  width: 70%;
  max-width: 100%;
  margin: 3vh 0 0 0;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
  z-index: 100;
  border-bottom: 3px inset #313131;
}

#slideshow .img-active {
  opacity: 1;
  z-index: 90;
}

.success-hide {
  opacity: 0;
}

.tutorial {
  margin: 8vh 0 0 0;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.visible {
  opacity: 1;
}
@media screen and (max-width: 576px) {
  html {
    font-size: 12px;
  }
  .init {
    margin: 7vh 0;
  }
  #subheading-maj {
    margin: 4vh 0;
  }
  #subheading-ming {
    margin: 2vh 0;
  }
  #slideshow {
    margin: 4vh 0;
  }

  #slideshow .slide {
    width: 100%;
    left: 0;
  }

  .tut-elem {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}
.tut-intro {
  font-family: "Helvetica", sans-serif;
}

.tut-elem {
  font-family: "Roboto Mono", "Nunito", sans-serif;
}

.tut-elem {
  background-color: #fff;
  border: 1px outset rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  margin: 3vh 0;
}

.tut-image {
  width: 60%;
  margin: 1vh 0;
}

.tut-heading {
  font-weight: 100%;
  font-size: 1.6rem;
  text-align: center;
  margin: 1.5vh 0;
}
.tut-text {
  position: relative;
  width: 70%;
  font-size: 1rem;
  left: 15%;
  text-align: center;
  margin: 1vh 0;
}

.container-x {
  height: 100%;
  width: 100%;
  background-color: #fff;
  overflow: auto;
  z-index: 20000;
}

button {
  border: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  transition: background ease-in-out 0.1s;
  outline: 0;
}

button:hover,
button:focus {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.85);
  outline: 0;
}

#splash {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 1s ease-in;
  -webkit-transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
  -ms-transition: opacity 1s ease-in;
  -o-transition: opacity 1s ease-in;
  z-index: 20000;
}

.success-show {
  opacity: 1 !important; /* Since id styles take preference over class styles */
  display: block !important; /* For hide-init to become visible */
}

#meta {
  text-align: center;
}

/* #heading
{
  font-size : 2em;
  font-family: "Nunito", sans-serif;
  color : rgba(0,0,0,0.7);
  text-align : center;
}
*/

#text {
  font-size: 1em;
  width: 70%;
  margin: 5% auto;
  font-family: "Nunito", sans-serif;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
}

form {
  text-align: center;
}

label {
  font-size: 1.2em;
  font-family: "Nunito", sans-serif;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

input[type="text"] {
  font-size: 1.1em;
  font-family: "Nunito", sans-serif;
  color: rgba(0, 0, 0, 0.6);
}

#title {
  font-size: 2em;
  color: rgba(0, 0, 0, 0.7);
}

#day {
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.5);
}

#rules {
  margin: 5% 0;
  padding: 0;
  font-size: 1.3em;
  list-style-type: circle;
}

#rules li {
  margin-bottom: 5%;
}

#start {
  position: relative;
  left: 50%;
  margin: 0;
  padding: 2.5% 6.25%;
  transform: translate(-50%, 0);
  font-size: 1em;
  outline: 0;
}

#gridfield {
  position: relative;
  top: 30%;
  transform: translateY(-30%);
  width: 100%;
  z-index: 20000;
}

#grid {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  border-collapse: collapse;
  font-size: 1.5em;
  z-index: 20000;
}

#grid td {
  padding: 2%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

#grid td:hover {
  cursor: pointer;
}

#grid td:nth-of-type(1) {
  border-left: none;
}

#grid td:nth-last-of-type(1) {
  border-right: none;
}

#grid tr:nth-of-type(1) td {
  border-top: none;
}

#grid tr:nth-last-of-type(1) td {
  border-bottom: none;
}

#questionfield {
  position: relative;
  top: 10%;
  z-index: 200000;
}

#question,
#controls,
#answer {
  margin: 5% auto;
  width: 60%;
  text-align: center;
  z-index: 200000;
}

#question {
  font-size: 1.3em;
  text-align: justify;
  font-family: "Nunito", sans-serif;
}

#quesNum {
  text-align: center;
  font-size: 1.6em;
  font-family: "Nunito", sans-serif;
}

#answer {
  font-size: 1.4em;
  font-family: "Nunito", sans-serif;
  z-index: 200;
}
#answerDescr {
  font-size: 1.2em;
  font-family: "Nunito", sans-serif;
  text-align: center;
}

#questionMedia,
#answerMedia {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;  
  z-index: 200;
}

#viewAns,
#returnGrid {
  display: inline-block;
  padding: 3% 9%;
  width: 70%;
  margin-bottom: 1%;
  font-size: 1em;
  z-index: 200;
}

#access {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 44px;
  height: 44px;
  margin: 0 auto;
  margin-top: 5%;
  border-radius: 25px;
  outline: 0;
}

#access i {
  font-size: 25px;
  vertical-align: middle;
}
/* Inversion */

.invert {
  background-color: #000;
  color: #fff;
}

.invert #meta span,
.invert #quesNum {
  color: rgba(188, 128, 39, 1);
}

.invert button {
  background: rgba(255, 255, 255, 0.8);
  color: rgba(0, 0, 0, 0.8);
}

.invert button:hover {
  background: rgba(255, 255, 255, 0.95);
}

.invert a {
  color: #fff !important;
  border-bottom: 0.5px dashed rgba(255, 255, 255, 0.95);
}

a {
  text-decoration: none !important;
  border-bottom: 0.5px dashed rgba(0, 0, 0, 0.95);
  color: rgba(0, 0, 0, 0.65) !important;
}
a:hover {
  text-decoration: none !important;
}
