<!DOCTYPE html>
<html>
  <head>
    <meta charset = utf-8 name = viewport content = "width = device-width, initial-scale = 1.0, user-scalable = no">

    <title>Quizgen</title>
    <link rel = stylesheet href = style.css media = screen>
    <script src="https://use.fontawesome.com/64ef20be9f.js"></script>
    <script src = main.js charset = utf-8></script>
    <link href = "https://fonts.googleapis.com/css?family=Pontano+Sans|Nunito" rel = stylesheet>
  </head>
  <body>

  <div class = container>

    <div id = splash>

      <div id = meta>
        <span id = title></span>
        <br/>
        <span id = day></span>
      </div>

      <ul id = rules>
      </ul>

       <button id = start onclick = scrollToGrid()>Start</button>
      <br/>
      <button id = access onclick = invert()><i class = "fa fa-eye fa-fw fa-2x" aria-hidden = true></i>
      </button>
    </div>

    <div id = footer>
      <div id = branding>

      </div>
    </div>

    </div>
  </div>

  <div class = container>

    <div id = gridfield>
      <table id = grid></table>
    </div>


  </div>
  </body>
</html>
