<!DOCTYPE html>
<html>
  <head>
    <meta charset = utf-8 name = viewport content = "width = device-width, initial-scale = 1.0, user-scalable = no">

    <title>Quizgen</title>
    <link rel = stylesheet href = style.css media = screen>
    <script src="https://use.fontawesome.com/64ef20be9f.js"></script>
    <script src = "main.js" charset = utf-8></script>
    <link href = "https://fonts.googleapis.com/css?family=Pontano+Sans|Nunito|Roboto+Mono" rel = stylesheet>
  </head>
  <body>

  <div class="init">
    <h1 id=heading>Quizgen</h1>
    <input id="spreadsheet" type="text" placeholder="Google Sheet URL"></input>
    <button type="button" name="button" onclick="makeXHR(createQuiz);">Quiz</button>
    <video class=video id="bgvid" playsinline autoplay muted loop>
      <source src="https://raw.githubusercontent.com/bharatkashyap/quizgen-final/master/final/demo.webm" type="video/webm">
    </video>

    <ul>
      <li><strong>Host and share</strong> quizzes, using only Javascript (and Google Sheets, and the internet). </li>
      <br/>
      <li>Create a sheet containing the quiz<br/>(<strong>exactly like <a href="https://docs.google.com/spreadsheets/d/1oI83izpSqQIJP8_A65smGIuSr1AT66v8F-vFkvR5O2k/edit#gid=0" target="_blank">so</a></strong>).</li>
      <br/>
      <li><strong>Publish the sheet to the web</strong>, and enter the URL above. </li>
      <br/>
      <li><strong>Share</strong> quizzes like <a href="https:quizgen-final.firebaseapp.com/?sheet=https://docs.google.com/spreadsheets/d/1W4A4rrA812qtynqrU3Y4iYQrFrizoAe8WezAw0wviEg/edit#gid=0" target="_blank">this!</a> (This is really quite exciting.)</li>
      <br/>
      <li><strong>Why?</strong>
        <ol>
          <li>Presentations break all the time, mid-quiz, for no reason at all.</li>
          <li>Presentations are bulky and irritating.</li>
          <li>Slideshare must surely be bettered as the only real quiz-sharing option.</li>
        </ol>
      </li>
      <br/>
      <li>Want to use this but can't figure out how to? Have used this and have suggestions? Hit <a href="http://facebook.com/bharattttttt" target="_blank">me</a> up.</li>
      <br/>
      <li>Project is <strong>maintained <a href="https://github.com/bharatkashyap/quizgen-final" target="_blank">here</a></strong>. Stars are appreciated!</li>
    </ul>
  </div>

  <div class = container>

    <div id = splash>

      <div id = meta>
        <span id = title></span>
        <br/>
        <span id = day></span>
      </div>

      <ul id = rules>
      </ul>

       <button id = start disabled onclick = scrollToGrid()>Start</button>
      <br/>
      <button id = access disabled onclick = invert()><i class = "fa fa-eye fa-fw fa-2x" aria-hidden = true></i>
      </button>
    </div>

    <div id = footer>
      <div id = branding>

      </div>
    </div>

    </div>
  </div>

  <div class = "container hide-init">

    <div id = gridfield>
      <table id = grid></table>
    </div>


  </div>
  </body>
</html>
