html, body
{
  height : 100%;
  width : 100%;
  margin : 0;
  padding : 0;
  font-family : 'Pontano Sans', sans-serif;
  -webkit-font-smoothing : antialiased;
}

.container
{
  height : 100%;
  width : 100%;
  background-color : #FFF;
}

button
{
  border : 0;
  background : rgba(0,0,0,0.8);
  color : #FFF;
  transition : background ease-in-out 0.1s;
}

button:hover, button:focus
{
  cursor : pointer;
  background : rgba(0,0,0,0.85);
  outline : 0;
}


#splash
{
  position : absolute;
  top : 40%;
  left : 50%;
  transform: translate(-50%, -50%);
}

#meta
{
  text-align: center;
}

#title
{
  font-size : 2em;
  color : rgba(0,0,0,0.7);
}

#day
{
  font-size : 1.2em;
  color : rgba(0,0,0,0.5);
}

#rules
{
  margin : 25% 0;
  padding : 0;
  font-size : 1.3em;
  list-style-type: circle;
}

#rules li
{
  margin-bottom : 5%;
}


#start
{
  position : relative;
  left : 50%;
  margin : 0;
  padding : 5% 12.5%;
  transform : translate(-50%, 0);
  font-size: 1em;
}

#gridfield
{
  position : relative;
  top : 30%;
  transform: translateY(-30%);
  width : 100%;
}

#grid
{
  margin : 0 auto;
  width : 80%;
  text-align : center;
  border-collapse : collapse;
  font-size : 1.5em;
}

#grid td
{
  padding : 2%;
  border : 1px solid rgba(0,0,0,0.2);
}

#grid td:hover
{
  cursor : pointer;
}

#grid td:nth-of-type(1)
{
  border-left : none;
}

#grid td:nth-last-of-type(1)
{
  border-right : none;
}

#grid tr:nth-of-type(1) td
{
  border-top: none;
}

#grid tr:nth-last-of-type(1) td
{
  border-bottom: none;
}

#questionfield
{
  position : relative;
  top : 10%;
}

#question, #controls, #answer
{
  margin : 5% auto;
  width : 60%;
  text-align : center;
}

#question
{
  font-size : 1.3em;
  text-align: justify;
  font-family : 'Alegreya', serif;
}

#quesNum
{
  text-align: center;
  font-size : 1.6em;
  font-family : 'Pontano Sans', sans-serif;
}

#answer
{
  font-size : 1.4em;
  font-family : 'Alegreya', serif;
}

#answerImg
{
  position : relative;
  left : 50%;
  transform : translateX(-50%);
  width : 40%;
  height : 20%;
}

#viewAns, #returnGrid
{
  display : inline-block;
  padding : 3% 9%;
  width : 70%;
  margin-bottom : 1%;
  font-size : 1em;
}

#access
{
  position : relative;
  left : 45%;
  margin-top : 5%;
  border-radius : 60%;
}

/* Inversion */

.invert
{
  background-color : #000;
  color : #FFF;
}

.invert #meta span
{
  color : rgba(255,255,255,0.7);
}

.invert button
{
  background: rgba(255,255,255,0.9);
  color : rgba(0,0,0,0.8);
}

.invert button:hover
{
  background : rgba(255,255,255,0.95);
}
